<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../Assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../Assets/favicon/site.webmanifest">
    <title>login page</title>
</head>
<body>
    <nav class="nav-bar">
        <img src="../Assets/logo.svg" class="logo">
        <div class="nav-items">
            <img src="../Assets/menu.svg" class="menu" id="menu">
            <div class="dropdown" id="drop">
                <a href="../index.html">Home</a>
                <a href="countdown.html">Countdown</a>
                <a href="shop-page.html">Products</a>
                <a href="#">Cart</a>
                <span>
                    <a href="login.html" class="active">Login </a> /
                    <a href="signup.html">Signup</a>
                </span>
            </div>
        </div>
    </nav>
    <main class="login-container">
        <form class="login-form login">
            <input type="email" name="email" id="email" placeholder="E-mail">
            <input type="password" name="password" id="password" placeholder="Password">
            <div class="flexy">
                <div>
                    <input type="checkbox" id="checkbox" name="checkbox">
                    <label for="checkbox">remember me</label>
                </div>
                <a href="#">forgot account</a>
            </div>
            <input type="submit" value="LOGIN" id="submit">
        </form>
        <div class="account-extra">
            <h5>Don't have an account yet?</h5>
            <a href="signup.html">CREATE AN ACCOUNT</a>
        </div>
    </main>
    <footer class="footer">
        <div class="foot-rows">
            <div class="row-one">
                <div class="logo">
                    <img src="../Assets/logo.svg" class="logo">
                </div>
                <div class="conti con-two">
                    <header>About Us</header>
                    <div class="content">
                        Gubergren no amet kasd sanctus diam elitr lorem magna amet,
                         rebum est ut et elitr. Gubergren dolore at justo nonumy.
                    </div>
                </div>
                <div class="conti">
                    <header>Contact Us</header>
                    <div>+234 907 554 9302</div>
                    <div>+234 912 968 5042</div>
                </div>
            </div>
            <div class="row-two">
                <header>Information</header>
                <div>About Us</div>
                <div>More Search</div>
                <div>Blog</div>
                <div>Testimonials</div>
                <div>Events</div>
            </div>
            <div class="row-three">
                <header>Helpful Links</header>
                <div>Services</div>
                <div>Supports</div>
                <div>Terms & Condition</div>
                <div>Privacy Policy</div>
            </div>
            <div class="row-four">
                <div>Subscribe More Info</div>
                <input type="email" placeholder="Enter your Email">
                <input type="submit" value="Subscribe">
                <button class="back-to-top">

                </button>
            </div>
        </div>
        <hr>
        <div class="fot-flex">
            <div class="socials">
                <img src="../Assets/facebook.svg">
                <img src="../Assets/gmail.svg">
                <img src="../Assets/twitter.svg">
                <img src="../Assets/instagram.svg">
                <img src="../Assets/linkedin.svg">
                <img src="../Assets/youtube.svg">
                <img src="../Assets/whatsapp.svg">
                <img src="../Assets/pinterest.svg">
            </div>
            <div class="copyright">
                &copy; SHOP-7 2020
            </div>
        </div>
    </footer>
    <script>
        // MOBILE NAV SETUP
        let menu, drop, ham, closes;
        menu = document.querySelector('#menu');
        drop = document.querySelector('#drop');
        ham = '../Assets/menu.svg';
        closes = '../Assets/close.svg';
        menu.onclick = function() {
            if (menu.src.match(ham)) {
                menu.src = closes;
                drop.style.display = 'flex';
            } else {
                menu.src = ham;
                drop.style.display = 'none';
            }
        }
    </script>
</body>
</html>