<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <link rel="apple-touch-icon" sizes="180x180" href="../Assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../Assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../Assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="../Assets/favicon/site.webmanifest">
    <title>Sign Up page</title>
</head>
<body>
    <nav class="nav-bar">
        <img src="../Assets/logo.svg" class="logo">
        <div class="nav-items">
            <img src="../Assets/menu.svg" class="menu" id="menu">
            <div class="dropdown" id="drop">
                <a href="../index.html">Home</a>
                <a href="countdown.html">Countdown</a>
                <a href="shop-page.html">Products</a>
                <a href="#">Cart</a>
                <span>
                    <a href="login.html">Login </a>/
                    <a href="signup.html" class="active">Signup</a>
                </span>
            </div>
        </div>
    </nav>
    <main class="login-container">
        <form class="login-form signup">
            <div class="name">
                <input type="text" name="first-name" id="first-name" placeholder="First Name">
                <input type="text" name="last-name" id="last-name" placeholder="Last Name">
            </div>
            <input type="email" name="email" id="email" placeholder="E-mail">
            <div class="flex-two">
                <input type="password" name="password" id="password" placeholder="Password">
                <input type="number" name="number" id="number" placeholder="Phone Number (optional)">
            </div>
            <input type="checkbox" id="checkbox" name="checkbox">
            <label for="checkbox">I want to receive shop-7 Newsletters with the best deals and offers</label>
            <input type="submit" value="CREATE ACCOUNT" id="submit">
        </form>
        <div class="account-extra">
            <h5>Already have an account?</h5>
            <a href="login.html">LOGIN</a>
        </div>
    </main>
    <script>
        // MOBILE NAV SETUP
        let menu, drop, ham, closes;
        menu = document.querySelector('#menu');
        drop = document.querySelector('#drop');
        ham = '../Assets/menu.svg';
        closes = '../Assets/close.svg';
        menu.onclick = function() {
            if (menu.src.match(ham)) {
                menu.src = closes;
                drop.style.display = 'flex';
            } else {
                menu.src = ham;
                drop.style.display = 'none';
            }
        }
    </script>
</body>
</html>